{% extends 'layouts/main.html' %}
{% block title %}Report{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Report:  {{ report.name }} </h1>
</div>
<p class="lead">This Page Contains All Details of report {{ report.name }}.</p>

<div class="card text-center">
  <div class="card-header">
    Report Details
  </div>
  <div class="card-body">
    <h5 class="card-title">{{report.name}}</h5>
    <p class="card-text">{{report.description}}</p>

    <a class="btn btn-primary" href="{{ url_for('reports.generate', report_id=report.id, output_type='pdf') }}"> PDF Button</a>
    <a class="btn btn-primary" href="{{ url_for('reports.generate', report_id=report.id, output_type='xml') }}"> XML Button</a>

<!--    <form method="POST" action="{{ url_for('reports.generate', report_id=report.id, output_type='pdf') }}">-->
<!--      <button type="submit" class="btn btn-primary">Generate PDF</button>-->
<!--    </form>-->
<!--    <form method="POST" action="{{ url_for('reports.generate', report_id=report.id, output_type='xml') }}">-->
<!--      <button type="submit" class="btn btn-primary">Generate XML</button>-->
<!--    </form>-->

  </div>
</div>
{% endblock %}